
/*

Selectors 

. -> Classe
# -> id
tag -> <div>
* -> tudo


*/

*{
    margin: 0; /* espaço tag para fora (externa) */
    padding: 0; /* espaço interno da tag */
    color: #666;
    font-family: monospace; /* Muda estilo da fonte */
    
}

header{
    text-align: center; /* centraliza o texto */
    padding: 10px;
}

header > h1 {
    font-size: 34px; /* Almenta a fonte */
}

header > h3{
    font-size: 16px;
}

#control{
    text-align: center;
    padding: 20px;
}

#control-input > input{
    width: 370px;
    font-size: 34px;
    
}

#control-button {
    padding-top: 15px;
}

#control-button > button {

    color: white;
    border: none;
    width: 110px;
    height: 35px;
    font-size: 18px;
    box-shadow: 6px 7px 15px -5px rgba(122,109,122,1); /* Faz sombra nos buttons */
    border-radius: 5px;
    cursor: pointer;


}

#control-button > button:hover {
    background-color: rgb(198, 198, 198);
}

.btnPush{
    background-color: #78D481;
}

.btnPop{
    background-color: #D47878;
}

.btnClear{
    background-color: #7F78D4;
}


.card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    box-shadow: 3px 5px 15px -5px rgba(122,109,122,1);
}


.card > header {
    border-bottom: 1px solid #E5E5E5;
}

/*.boryVisualization, .bodyInfo {
    height: 50vh;
}*/

.card > section {
    min-height: 50vh;
}

ul {
    padding-left: 20px;
    padding-top: 10px;
}

li {
    padding: 5px;
}

.boryVisualization {
    text-align: center;
}

#pilha {
    border: 1px solid #E5E5E5;
    margin-top: 10px;
    width: 80px;
    margin-left: calc(50% - 40px);
    text-align: center;
}

.item {
    font-size: 25px;
    padding: 15px 10px;
    border: 1px solid #E5E5E5;
}

#pilha div:first-child {
    background-color: #39a144;
    color: white;
}

#pilha div:last-child {
    background-color: #b63d3d;
    color: white;
}

.criado {
    margin: 10px;
    padding: 10px;
}

#credito{
    border: 1px solid #aa1212;
    background-color: #929693;
    color: rgb(8, 0, 0);
    margin-top: 12px;
    font-size: 17px;
    width: 80%;
    text-align:left;
    margin-left: calc(50% - 45%) ;
    padding: 30px;
}

#unisep {
    border: 1px solid #aa1212;
    background-color: #929693;
    color: rgb(8, 0, 0);
    margin-top: 12px;
    font-size: 17px;
    width: 80%;
    text-align:center;
    margin-left: calc(50% - 43%) ;
    padding: 10px;
}



